* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ccc;
}

a {
  color: #ff22bb;
}

.dropDownMenu {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  width: 60px;
  padding: 0px;
  border-radius: none;
  border-style: none;
  color: #ff22bb;
  font-size: 1vw;
  background-color: none;
  border: 1.5px solid #ff22bb;
}

/* .dropDownMenu::before{
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
  background-color: #ffffff;
  border-left: 1px solid #ff22bb;
  border-top: 1px solid #ff22bb;
} */

ul {
  list-style-type: none;
}